html {
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
/*^^ Kilde: https://css-tricks.com/perfect-full-page-background-image ^^/*/

.login {
    color: black;
    font-size: 120px;
    text-align: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 20% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }