html {
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
/*^^ Kilde: https://css-tricks.com/perfect-full-page-background-image ^^/*/

.play {
    color: black;
    font-size: 120px;
    text-align: center;
}